:root {
    /* background */
    --c-dark: #141D2D;
    --c-light: #fff;
    --c-accent: #FF6B08;
  
    --c-dark-blue: #253045; 
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
  
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);

    /* modals */
    --modal-bgd-dark: rgba(20, 29, 45, 0.8);
  
    /* font */
    --font-main: 'Acrom', sans-serif;
  
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1270px + var(--vertical-scroll));
  
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;

    --animation-transition: all 0.2s ease-in-out;
  }
  
  @font-face {
    font-family: "Acrom";
    src: url("../fonts/acrom/Acrom-ExtraBold.eot");
    src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
      url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
      url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Bold.eot');
      src: local('Acrom Bold'), local('Acrom-Bold'),
          url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
          url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Regular.eot');
      src: local('Acrom Regular'), local('Acrom-Regular'),
          url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
          url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-main);
  }

  /* COMMON */

  .tablet-element {
    display: none !important;
  }

  .desktop-element {
    display: none !important;
  }

  .mobile-element {
    display: block;
  }

  .accent-btn {
    background: var(--c-accent);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-light);
    padding: 20px 35px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: var(--animation-transition);
  }

  .accent-btn:hover { 
    outline: 1px solid var(--c-accent);
    background: transparent;
    color: var(--txt-c-accent);
  }

  .container {
    min-width: 320px;
    width: 100%;
    /* width: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 10px 55px 10px;
  }

  .container-left {
    align-items: flex-start;
  }

  .section-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--txt-c-light);
    text-align: center;
  }

  /* Modals */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  background: var(--modal-bgd-dark);
  z-index: 3;
}

.modal-active {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.modal-mobile-menu {
  background: var(--c-light);
}

.modal-mobile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.mobile-menu-container {
  height: 70%;
  justify-content: space-between;
  margin: 0;
}

.modal-close-btn {
  font-size: 18px;
  position: absolute;
  color: var(--c-grey-blue);
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* Mobile menu modal */

.body-scroll-disable {
  overflow: hidden;
}

.mobile-menu-close-btn {
  background: var(--c-accent);
  color: var(--c-light);
  padding: 10px 14px;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
  transition: var(--animation-transition);
}

.mobile-menu-item:hover {
  color: var(--txt-c-accent);
}

.mobile-menu-tel-item {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
  margin-bottom: 15px;
}

.mobile-menu-email-item {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
  margin-bottom: 5px;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
}

/* My video modal */

.my-video-content {
  width: 100%;
}

.my-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 10px;
}

.my-video-close-btn {
  background: var(--c-light);
  color: var(--c-dark);
  padding: 10px 14px;
}

/* Request received modal */

.modal-request-received {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.request-received-container {
  background: var(--c-light);
  padding: 80px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.request-received-close-btn {
  color: var(--c-grey);
}

.request-received-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin: 0 0 15px 0;
}

.request-received-primary-msg {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  margin: 0 0 15px 0;
}

.request-received-secondary-msg {
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: var(--txt-c-dark);
  width: 185px;
  margin: 0;
}

/* Personal projects full stack modal */

.project-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.project-modal-container {
  background: var(--c-light);
  padding: 45px 0;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 85%;
}

.project-modal-scrollable {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}

.project-modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  margin: 0 0 25px 0;
  text-decoration: none;
  display: block;
}

.project-modal-text {
  font-size: 16px;
  line-height: 145%;
  color: var(--txt-c-dark);
  margin: 0 0 25px 0;
}

.project-modal-img {
  width: 100%;
  margin-bottom: 30px;
}

  /* Front page */

  .front-page {
    width: 100%;
    background: var(--c-dark);
    overflow: hidden;
  }

  .front-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-link {
    transition: var(--animation-transition);
  }

  .logo-link:hover {
    transform: scale(1.1);
  }

  .front-page-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-page-my-name {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: var(--txt-c-accent);
    text-align: center;
    margin:35px 0 10px 0;
  }

  .front-page-profession {
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    color: var(--txt-c-light);
    text-align: center;
    margin-bottom: 20px;
  }

  .front-page-description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-c-light);
    margin-bottom: 20px;
  }

  .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navigation-part {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hire-me-btn {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-accent);
    text-decoration: none;
    margin-right: 20px;
  }

  .mobile-menu {
    width: 30px;
    height: 30px;
    background: var(--c-accent);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .mobile-menu i {
    color: var(--txt-c-light);
  }

  .front-page-gallery-btn {
    /* height: 60px; */
    margin-bottom: 40px;
  }

  .my-front-page-my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-page-about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .front-page-my-photo {
    width: 100px;
    margin-bottom: 20px;
  }

  .front-page-my-descr {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-light);
    margin: 0 0 15px 0;
  }

  .front-page-my-video-btn {
    background: transparent;
    border: 2px solid var(--c-accent);
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: var(--txt-c-accent);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    margin-bottom: 35px;
    cursor: pointer;
    transition: var(--animation-transition);
  }

  .front-page-my-video-btn:hover {
    background: var(--c-accent);
    color: var(--txt-c-light);
  }

  .front-page-my-video-btn .fa-play {
    font-size: 9px;
    margin-right: 7px;
  }

  .front-page-laptop {
    width: 250px;
    margin-bottom: 40px;
  }

/* Experience */

.experience-tittle {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  width: 240px;
  margin: 0 0 30px 0;
}

.experience-skill{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.experience-dots {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.experience-dots-item {
  color: var(--c-grey-blue);
  font-size: 8px;
  margin-right: 5px;
}

.experience-dots-item-accent {
  color: var(--c-accent);
}

.experience-text {
  color: var(--txt-c-light);
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

/* About page */

.about-title {
  color: var(--txt-c-dark);
  text-align: left;
  width: 280px;
  margin: 20px 0;
}

.about-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.about-descr span {
  background: var(--c-dark-blue);
  padding: 4px 9px;
}

.about-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0 0 30px 0;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.about-img-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
  position: relative;
}

.about-img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -42px;
  top: 55px;
}

/* Personal projects */

.personal-projects {
  background: var(--c-dark);
  overflow: hidden;
}

.personal-project-item-container{
  padding-top: 40px;
  background: var(--c-dark-blue);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-item {
  border-bottom: 1px solid var(--c-grey-blue);
  margin-bottom: 20px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.personal-project-img {
  width: 100%;
  margin-bottom: -4px;
}

.personal-projects-title {
  margin-top: 20px;
}

.project-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.project-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--c-grey-blue);
  margin-right: 7px;
}

.project-item-dot:first-child {
  background: var(--c-accent);
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  margin: 25px 0;
  display: flex;
}

.personal-project-icon {
  font-size: 18px;
  color: var(--c-accent);
  margin-right: 15px;
  margin-top: 4px;
}

.personal-project-btn {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}

.swiper-container {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

/* Team projects */

.team-projects {
  position: relative;
  overflow: hidden;
}

.team-projects .container{
  padding-bottom: 0;
}

.team-projects-title {
  color: var(--txt-c-dark);
  position: relative;
  margin-bottom: 40px;
}

.team-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 25px 0;
  display: flex;
}

.team-project-title-bgd {
  position: absolute;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
  top: 15px;
  left: 55px;
}

.team-project-item {
  border-bottom: 1px solid var(--c-grey);
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}

/* Callback form section */

.callback-form-container {
  background: var(--c-dark);
  padding: 35px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.callback-form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  width: 260px;
  margin: 0 0 20px 0;
}

.callback-form-descr {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  width: 260px;
  text-align: center;
  margin: 0 0 30px 0;
}

.callback-form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callback-form-input{
  background: transparent;
  border: none;
  outline: none;
  color: var(--txt-c-grey);
  padding: 10px 10px 15px 10px;
  border-bottom: 1px solid var(--c-grey-blue);
  text-align: center;
  margin-bottom: 30px;
}

.input-error-border {
  border: 1px solid red;
}

.callback-form-submit {
 padding: 15px 15px 15px 10px
}

/* Calculator section */

.calculator {
  background: var(--c-dark);
  overflow: hidden;
}

.calculator .container {
  padding-bottom: 75px;
}

.calculator-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-icon {
  width: 195px;
}

.calculator-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 30px 0;
  width: 276px;
}

.calculator-descr span {
  background: var(--c-accent);
  padding: 5px;
}

.calculator-descr .calculator-descr-accent {
  padding: 5px 10px;
}

.calculator-title {
  width: 272px;
  margin-bottom: 20px;
}

.calculator-text {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 20px 0 30px 0;
}

.calculator-form {
  background: var(--c-light);
  padding: 30px 25px;
}

.calculator-form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin-bottom: 15px;
}

.calculator-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.calculator-form-select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--c-grey-light);
  padding: 5px 0 17px 0;
}

.calculator-form-input-field{
  margin-right: 10px;
  cursor: pointer;
}

.calculator-form-input-radio-container {
  display: flex;
  align-items: center;
}

.calculator-form-input-label {
  margin-right: 20px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.calculator-form-total {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

.calculator-form-total-cost {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

/* Footer contacts section */

.footer .container{
  padding-bottom: 45px;
}

.footer-contacts-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin: 0;
}

.footer-contacts-profession {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin: 0 0 20px 0;
}

.footer-contacts-tel-item {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
  margin-bottom: 15px;
}

.footer-contacts-email-item {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
  margin-bottom: 30px;
}

.footer-contacts-links-icons {
  display: flex;
}

.footer-contacts-link-icon {
  margin-right: 35px;
  color: var(--c-dark);
  text-decoration: none;
 }

.footer-contacts-icon {
 font-size: 25px;
}

.footer-contacts-link-icon:last-child {
  margin-right: 0;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

/* MULTI SELECT */

.calculator-form-input .tech-input-container .choices__item {
  background: var(--c-accent);
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form-input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form-input .tech-input-container  {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 35px;
  box-sizing: border-box;
}

.calculator-form-input .choices__input {
  display: none;
}

.calculator-form-input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}


@media only screen and (min-width: 640px) {

  .container {
    padding-bottom: 70px;
    min-width: 640px;
  }

  .mobile-element {
    display: none;
  }

  .tablet-element {
    display: block !important;
  }

  .front-page-my-name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }

  .swiper-container {
    width: 600px;
  }

  .front-page-profession {
    margin: 20px 0 30px 0;
    font-size: 55px;
    line-height: 66px;
  }

  .profession-part-1 {
    margin-right: 40px;
  }

  .profession-part-2 {
    margin-left: 40px;
  }

  .front-page-description {
    font-size: 17px;
    line-height: 150%;
    width: 385px;
    margin: 0 0 40px 0;
  }

  .front-page-main-info {
    width: 354px;
  }

  .my-front-page-my-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  .front-page-my-photo {
    width: 140px;
    margin-right: 35px;
    margin-bottom: 0;
  }

  .front-page-my-descr {
    text-align: left;
  }

  .front-page-my-video-btn {
    margin-bottom: 0;
  }

  .front-page-laptop {
    width: 400px;
    margin-bottom: 90px;
  }

  .front-page-gallery-btn {
    width: 400px;
    text-align: center;
    box-sizing: border-box;
  }

  .about .container{
    position: relative;
  }

  .about-img-text {
    position: absolute;
    right: 30px;
    top: 225px;
    font-size: 200px;
    line-height: 240px;
  }

  .about-img {
    width: 361px;
    height: 390px;
    left: -110px;
    top: 72px;
  }

  .about-img-container {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
  }

  .about-descr {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 60px;
  }

  .about-text:last-child {
    width: 320px;
    margin-bottom: 85px;
  }

  .team-projects-title,
  .personal-projects-title {
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    width: 400px;
  }

  .team-projects .container,
  .personal-projects .container,
  .callback-form .container {
    align-items: normal;
  }

  .team-project-item,
  .personal-project-item {
    margin: 0 25px 40px 25px;
  }

  .team-project-title-bgd {
    font-size: 200px;
    line-height: 240px;
    top: 20px;
    left: 57px;
  }

  .personal-project-btn {
    width: 210px;
  }

  .callback-form-container {
    padding: 75px 30px 80px 30px;
  }

  .callback-form-title {
    font-size: 36px;
    line-height: 43px;
    width: 390px;
  }

  .callback-form-descr {
    width: 356px;
  }

  .callback-form-submit,
  .callback-form-input {
    width: 350px;
    box-sizing: border-box;
  }

  .callback-form-submit {
    margin-top: 10px;
  }

  .calculator .container {
    align-items: normal;
    position: relative;
    padding: 20px 10px 90px 10px;
  }

  .calculator-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .calculator-title {
    font-size: 50px;
    line-height: 60px;
    width: 605px;
    text-align: left;
    margin-bottom: 40px;
  }

  .calculator-descr {
    font-size: 36px;
    line-height: 150%;
    width: 586px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .calculator-icon {
    position: absolute;
    width: 344px;
    right: 10px;
    top: 415px;
    z-index: 1;
  }

  .calculator-text {
    text-align: left;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .calculator-form {
    z-index: 2;
    padding: 60px 80px 70px 80px;
  }

  .calculator-form-title {
    line-height: 150%;
  }
  
  .calculator-form-select {
    line-height: 150%;
  }

  .footer .container {
    align-items: flex-start;
  }

  .footer-main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-contacts-email-item {
    margin-bottom: 0;
  }

  .footer-contacts-name,
  .footer-contacts-profession {
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {

  .container {
    max-width: var(--desktop-lg);
  }

  .tablet-element {
    display: none !important;
  }

  .desktop-element {
    display: block !important;
  }

  .my-front-page-my-info {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .swiper-container {
    width: 900px;
  }

  .front-page-about-me-container {
    align-items: flex-end;
  }

  .front-page-profession {
    font-size: 70px;
    line-height: 84px;
    width: 510px;
    margin-left: -60px;
    margin-bottom: 35px;
    z-index: 2;
  }

  .experience-wrapper {
    order: 1;
  }

  .front-page-main-info {
    align-items: flex-start;
    order: 2;
    z-index: 2;
    position: relative;
    width: 387px;
  }

  .front-page-description {
    text-align: left;
    margin-bottom: 65px;
    z-index: 2;
  }

  .front-page-gallery-btn {
    width: 387px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 90px;
  }

  .front-page-my-photo {
    position: absolute;
    width: 256px;
    z-index: 1;
    right: -86px;
    bottom: 330px;
  }
  
  .profession-part-2 {
    margin-left: 60px;
  }

  .front-page-wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 115px;
  }

  .front-page-laptop {
    position: absolute;
    bottom: -42px;
    right: 0;
    z-index: 1;
    width: 373px;
  }

  .my-front-page-my-info {
    order: 3;
  }
  
  .front-page-my-descr {
    text-align: right;
  }

  .front-page-my-name {
    margin-top: 0;
    z-index: 2;
  }

  .experience-tittle {
    text-align: left;
  }

  .experience-skill {
    margin-left: 0;
  }

  .team-project-item-wrapper,
  .personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .team-project-item, 
  .personal-project-item {
    width: calc(50% - 20px);
  }

  .team-project-item:nth-child(odd),
  .personal-project-item:nth-child(odd) {
    margin: 0 20px 40px 0;
  }

  .team-project-item:nth-child(even),
  .personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
  }

  .team-projects-title, 
  .personal-projects-title {
    font-size: 70px;
    line-height: 84px;
    width: 530px;
  }

  .team-project-title-bgd {
    font-size: 250px;
    line-height: 300px;
    top: 35px;
    left: 275px;
  }

  .about-content-wrapper {
    position: relative;
  }

  .about .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 135px 10px;
  }

  .about-title {
    margin-top: 0;
    font-size: 70px;
    line-height: 84px;
    width: 620px;
  }

  .about-projects-bar {
    background: var(--c-accent);
    width: 159px;
    height: 465px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 15px;
  }

  .about-projects {
    z-index: 2;
  }

  .about-projects-count {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-c-light);
    margin: 0;
    padding: 10px 5px;
  }

  .about-projects-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-dark);
    width: 125px;
  }

  .about-img-text {
    font-size: 250px;
    line-height: 300px;
    right: -223px;
    top: -23px;
    z-index: 1;
  }

  .about-img {
    width: 421px;
    height: 455px;
    left: -35px;
  }

  .about-text {
    width: 400px;
  }

  .about-text:last-child {
    margin-bottom: 0;
    width: 388px;
  }

  /* .navigation-menu-link {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--txt-c-grey);
    margin-right: 35px;
  }

  .navigation-menu-link:hover {
    color: var(--c-accent);
  } */

  .mobile-menu-items {
    flex-direction: row;
    margin-left: 130px;
  }

  .mobile-menu-item {
    margin: 0 35px 0 0;
  }

  .mobile-menu-item:last-child {
    margin: 0;
  }

  .callback-form-container {
    padding: 90px 150px 105px 150px;
  }

  .callback-form-title {
    width: 100%;
  }

  .callback-form-descr {
    width: 100%;
    margin-bottom: 50px;
  }

  .callback-form-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .callback-form-input {
    width: 30%;
    margin-right: 40px;
    max-width: 260px;
    text-align: left;
  }

  .callback-form-input:last-child {
    margin-right: 0;
  }

  .callback-form-submit {
    width: 260px;
    padding: 15px 20px;
  }

  .calculator .container {
    flex-direction: row;
    padding: 150px 10px;
  }

  .calculator-info-container {
    position: relative;
    margin-right: 20px;
    box-sizing: border-box;
    width: calc(100% - 386px - 20px);
  }

  .calculator-form {
    width: 386px;
    padding: 40px 50px;
    box-sizing: border-box;
  }

  .calculator-title {
    margin-top: 0;
    font-size: 70px;
    line-height: 84px;
    width: 100%;
    margin-bottom: 50px;
  }

  .calculator-descr {
    text-align: left;
    z-index: 2;
  }

  .calculator-text {
    margin-top: 20px;
    width: 348px;
    z-index: 2;
  }

  .calculator-icon {
    right: 10px;
    top: 380px;
  }

  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-main-content {
    width: calc(50% + 100px);
    justify-content: space-between;
    align-items: center;
  }

  .footer-contacts-profession {
    margin-bottom: 0;
  }

  .footer-contacts-tel-item {
    margin-bottom: 0;
  }

  .request-received-container {
    padding: 60px 130px 80px 130px;
  }

  .request-received-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .request-received-primary-msg {
    font-size: 36px;
    line-height: 43px;
    width: 353px;
    margin-bottom: 20px;
  }

  .request-received-secondary-msg {
    font-size: 17px;
    line-height: 25px;
    width: auto;
  }

  .project-modal-container {
    padding: 95px;
  }
}